/* .color-body {
    background-color: #E7E1F4 !important;
}

.contenedor-logo-home-index {
    background-color: #FEF7F7;
}

.logo-home-index {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slide-home-index {
    margin-top: 50px;
}

.igm-slide-index {
    background-size: contain !important;
}

.contenedor-botones-home-index {
    background-color: #E7E1F4;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.botones-home-index {
    background-color: #FEF7F7;
    border-radius: 12px;
    border: solid 2px black;
    width: 129px;
    height: 50px;
} */