.illustrationBox{
position: absolute;
width: 313px;
height: 250px;
left: 24px;
top: 107px;

background: #FEF7F7;
border-radius: 12px;
}

.illustrationDetail{
    position: absolute;
    width: 313px;
    height: 60px;
    left: 24px;
    top: 377px;
    background: #FEF7F7;
    border-radius: 12px;
}