.writerSample {
  background-color: #e0dfd7;
  border-radius: 7px;
  border: solid 0.5px #e0dfd7;
  margin: 15px;
  padding: 15px;
  font-family: "Kaushan Script", sans-serif;
  font-size: 18px;
  color: rgb(65, 65, 65)
}